html {
  background-color: #4CC553;
}

body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  display: flex;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

.no-margin {
  margin: 0;
}

p {
  font-size: 2rem;
  margin: 1rem 0;
}

p.small {
  font-size: 12px;
}

#forest {
  margin: 0;
  padding: 0;
  flex: 1 1 75%;
  overflow: hidden;
}

#forest .content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#forest .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;

}


.cloud {
  width: 100px;
  height: auto;
  position: absolute;
  animation: moveright 35s linear infinite;
  z-index: 1;
}

.cloud.one {
  top: 10%;
  left: -60%;
  opacity: 0.75;
}

.cloud.two {
  top: 10%;
  left: -70%;
}

.cloud.three {
  top: 25%;
  left: -20%;
  opacity: 0.5;
}

.cloud.four {
  top: 33%;
  left: -80%;
}

.cloud.five {
  top: 27%;
  left: -10%;
}

.cloud.six {
  top: 28%;
  left: -35%;
}

.cloud.seven {
  top: 60%;
  left: -15%;
}

.cloud.eight {
  top: 80%;
  left: -100%;
}

@keyframes moveright {
  to {
    left: 120%;
  }
}

#stats {
  padding: 30px;
  flex: 1 1 25%;
  background-color: #111;
  color: #fff;
  position: relative;
  z-index: 99;
}

#stats h1 {
  font-size: 3rem;
}

#stats h5 {
  opacity: 0.75;
  font-size: 1.2rem;
  margin: 1rem 0 0.5rem 0;
}

#stats p {
  font-weight: bold;
}

hr {
  border-color: rgba(255,255,255,0.05);
}

.tile {
  padding: 0;
  margin: 0;
  width: 50px;
  height: 50px;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin: 1px;
}

.tile.farm {
  background-color: rgba(0,0,0,0.15);
}

.tile.forest {
  background-color: transparent;
}

.tile img {
  width: 25px;
  height: 25px;
}

.tile.forest img {
  width: 50px;
  height: 50px;
}